.loginContainer {
  height: 100vh;
  width: 100vw;
  background: url("../../../assets/images/loginbg.png") center no-repeat;
  background-size: 250% 250%;
  animation: zoom 1s ease-in;
  @keyframes zoom {
    from {
      background-size: 100% 100%;
    }
    to {
      background-size: 250% 250%;
    }
  }
  .formContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .monkeyLogo {
      height: 143px;
    }
  }
}
